@import url(./global.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font, Arial, sans-serif);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --accent-color: transparent;
}

.header {
  padding-top: 9rem;
}

.heading {
  display: block;
  text-align: center;
  font-family: var(--accent-font, Arial, sans-serif);
}

.header__title {
  font-size: clamp(3.75rem, 2.8398rem + 3.8835vw, 7.5rem);
  margin-block-end: 2.5rem;
}

.header__menu {
  inline-size: 100%;
  padding: 1.25rem 0;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  inline-size: 8.4375rem;
  block-size: 1.9375rem;
}

/* .header__logo-img {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  color: #000;
} */

.header__theme-toggler {
  display: flex;
  gap: 1.25rem;
  list-style: none;
}

.header__theme-button {
  position: relative;
  font-family: inherit;
  border: none;
  color: currentColor;
  cursor: pointer;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 104%; /* 1.17rem */
  background-color: transparent;
}

.header__theme-button:disabled {
  pointer-events: none;
}

.header__theme-button:focus-visible {
  outline: 1px solid currentColor;
}

.header__theme-button:hover {
  text-decoration: underline;
}

.header__theme-button_is-active {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 104%; /* 1.17rem */
  cursor: unset;
}

.header__theme-button_is-active::after {
  position: absolute;
  content: '';
  bottom: 0.3ch;
  right: -0.2ch;
  inline-size: 7.5ch;
  block-size: 0.6ch;
  background-color: var(--accent-color);
  z-index: -1;
}

.theme_dark .header__theme-button_is-active::after {
  position: absolute;
  content: '';
  bottom: 0.3ch;
  right: -0.2ch;
  inline-size: 7.5ch;
  block-size: 0.6ch;
  background-image: url(../images/pattern.svg);
  z-index: -1;
}

.content__title {
  margin-block-start: 7%;
  margin-block-end: 2.5%;
  font-style: normal;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 90%; /* 6.75rem */
}

.content-section {
  padding-inline-start: 5vi;
  padding-inline-end: 5vi;
}

.content__text-block {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content__text-block .content__paragraph:not(:last-of-type) {
  margin-block-end: 1.5em;
}

.content__text-block_type_first-lettered
  .content__paragraph:first-of-type::first-letter {
    display: inline-block;
    background-color: var(--accent-color);
    padding: 0 4px;
    margin-inline-end: 5px;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.theme_dark .content__text-block_type_first-lettered
  .content__paragraph:first-of-type::first-letter {
    display: inline-block;
    background-color: var(--accent-color);
    padding: 0 4px;
    margin-inline-end: 5px;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 1px solid var(--dark-border);
}

.content__figure {
  inline-size: 100%;
  margin: 7% 0;
}

.content__picture {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.content__img {
  inline-size: 100%;
}

.content__picture-caption {
  padding: 1.25rem 0;
  display: block;
  text-align: center;
  border-bottom: 1px solid var(--text-color);
}

.content__blockquote {
  inline-size: 75%;
  line-height: 200%;
  margin-block-end: 1.5em;
}

.content__paragraph-link {
  color: currentColor;
}

.content__paragraph-link:focus-visible {
  outline: 1px solid currentColor;
}

.content__card {
  border: 1px solid var(--text-color);
  margin-block-start: 7%;
  aspect-ratio: 4/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__card-title {
  position: relative;
  font-size: 3.75rem;
  line-height: 100%;
}

.colored-text::after {
  position: absolute;
  content: '';
  bottom: 0.3ch;
  right: -0.2ch;
  inline-size: 7.5ch;
  block-size: 0.6ch;
  background-color: var(--accent-color);
  z-index: -1;
}

.theme_dark .colored-text::after {
  position: absolute;
  content: '';
  bottom: 0.3ch;
  right: -0.2ch;
  inline-size: 7.5ch;
  block-size: 0.6ch;
  background-image: url(../images/pattern.svg);
  z-index: -1;
}

.content__card-subtitle {
  display: block;
  text-align: center;
}

.content__list {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.63rem;
}

.content__link {
  position: relative;
  padding-inline-start: 2.5rem;
  text-decoration: none;
  color: var(--text-color);
}

.content__link:focus-visible {
  outline: 1px solid currentColor;
}

.content__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0.9375rem;
  height: 0.9375rem;
  transform: rotate(90deg);
  background-image: url(../images/marker-light.svg);
  object-fit: contain;
  object-position: center;
  fill: var(--accent-color);
}

.theme_dark .content__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0.9375rem;
  height: 0.9375rem;
  transform: rotate(90deg);
  background-image: url(../images/marker-dark.svg);
  object-fit: contain;
  object-position: center;
  fill: var(--accent-color);
}

.footer {
  margin-block-start: 10%;
}

.footer__copyright {
  inline-size: 100%;
  padding: 2.25rem 0;
  border-top: 1px solid currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
}